name: Calling workflow
on:
  push:

jobs:
  building:
    # runs-on: ubuntu-latest #Note you cant use "uses:" k sath "run-on"
    uses: ./.github/workflows/reusableWorkflow.yaml
    with:           #see how to pass input,secret to a reusable workflow
      goodname: SonaliJi       #see how to pass input to a reusable workflow
    secrets:
      inherit
      # firstsecret: ${{ secrets.pehlasecretforreusableworkflow }}   #when i waqnt to pass secret individually  
       # we cant use this "uses" for calling reusable workflow at STEP LEVEL. we have to define it at JOB LEVEL otherwise it will give error -> Can't find 'action.yml', 'action.yaml' or 'Dockerfile' under it. 
       # reuable workflow k liye @<branch> nhi likhna hota last me otherwise error ati h-> invalid value workflow reference: cannot specify version when calling local workflows
   
  deploying:
    runs-on: ubuntu-latest
    needs: building
    
    steps:       
      - name: second job
        run: echo "final value of subject is ${{ needs.building.outputs.sub }}"

      - name: Checkout    # must for composite action
        uses: actions/checkout@v5.0.0

      - name: calling a composite action         #see we are calling a composite action in step level and not at job level
        id: comp
        uses: ./.github/actions      #Note: while calling composite action sirf directory tk ka path do jaha tumhari action.yml file h
        with:
          appname: clm
          hobby: tennis

      - name: fetching output from composite action
        run: echo "value is ${{ steps.comp.outputs.age }}"
          
