name: Calling workflow
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v5.0.0
     - name: first job
       id: abc
       uses: ./.github/workflows/reusableWorkflow.yaml
     
     - name: second job
       run: echo " final value of subject is ${{ steps.abc.outputs.sub }}"

     
