name: Calling workflow
on:
  push:

jobs:
  building:
    # runs-on: ubuntu-latest #Note you cant use "uses:" k sath "run-on"
    uses: ./.github/workflows/reusableWorkflow.yaml
       # we cant use this "uses" for calling reusable workflow at STEP LEVEL. we have to define it at JOB LEVEL otherwise it will give error -> Can't find 'action.yml', 'action.yaml' or 'Dockerfile' under it. 
       # reuable workflow k liye @<branch> nhi likhna hota last me otherwise error ati h-> invalid value workflow reference: cannot specify version when calling local workflows
   
  deploying:
    runs-on: ubuntu-latest
    needs: building
    
    steps:       
      - name: second job
        run: echo " final value of subject is ${{ needs.building.outputs.sub }}"

     
