name: Calling workflow
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v6.0.1
     - name: first job
       id: abc
       uses: .github/workflows/reusableWorkflow.yaml@main
       # if i will write this-> ./.github/workflows/reusableWorkflow.yaml , ye error dega-> Can't find 'action.yml', 'action.yaml' or 'Dockerfile' under it. why bcz aise composite  action(agr same repo me define kia h) k liye likhte h ./.github/workflows/reusable.yaml but workflow k liyw .github/workflows/reusable.yaml likhte h 
       # reuable workflow k liye @<branch> bhi likhna hoga last me
     - name: second job
       run: echo " final value of subject is ${{ steps.abc.outputs.sub }}"

     
