name: Reusable workflow
on:
  workflow_call:              #for reusable workflow
    outputs:
      sub:
        description: output of a workflow
        value: ${{ jobs.deploy.outputs.subj }}    #output of a workflow
  

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      envir:  ${{ steps.testing.outputs.environment }}  #step k output ko job ka output bnao..it is must for job output 

    steps:
     - name: first step of 1st job
       id: testing
       run: echo "environment=Prod" >> $GITHUB_OUTPUT

     - name: second step of 1st job
       run: echo "Value is ${{ steps.testing.outputs.environment }}"    #output of a step

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
     - name: first step of 2nd job
       run: echo " 2nd job me 1st job ka output h ${{ needs.build.outputs.envir }}"   #output of a job

  deploy:                          #this job is for example of workflow output
    runs-on: ubuntu-latest
    outputs:          #step k output ko job ka output bnao..it is must for job output as well as workflow output
      subj: ${{ steps.dep.outputs.subject }}  

    steps:
     - name: first step of 2nd job
       id: dep
       run: echo "subject=Maths" >> $GITHUB_OUTPUT       #output of a step
    

       

       
