name: Reusable workflow
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      envir:  ${{ steps.testing.outputs.environment }}  #step k output ko job ka output bnao..it is must for job output 

    steps:
     - name: first step of 1st job
       id: testing
       run: echo "environment=Prod" >> $GITHUB_OUTPUT

     - name: second step of 1st job
       run: echo "Value is ${{ steps.testing.outputs.environment }}"    #output of a step

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
     - name: first step of 2nd job
       run: echo " 2nd job me 1st job ka output h ${{ needs.build.outputs.envir }}"   #output of a job

       
