name: Reusable workflow
on:
  workflow_call:              #for reusable workflow
    inputs:
      goodname:
        type: string
        required: true        
        
    outputs:
      sub:
        description: output of a workflow
        value: ${{ jobs.deploy.outputs.subj }}    #output of a workflow

    # secrets:    #agr individually secret ko pass krte to we need to define secret here like this.but since we are passing all the secret using "inherit",so no need to pass here,just use it
    #   firstsecret:
    #     required: true
  

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      envir:  ${{ steps.testing.outputs.environment }}  #step k output ko job ka output bnao..it is must for job output 

    steps:
     - name: first step of 1st job
       id: testing
       run: echo "environment=Prod" >> $GITHUB_OUTPUT

     - name: second step of 1st job
       run: echo "Value is ${{ steps.testing.outputs.environment }}"    #output of a step

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
     - name: first step of 2nd job
       run: echo " 2nd job me 1st job ka output h ${{ needs.build.outputs.envir }}"   #output of a job

  deploy:                          #this job is for example of workflow output
    runs-on: ubuntu-latest
    outputs:          #step k output ko job ka output bnao..it is must for job output as well as workflow output
      subj: ${{ steps.dep.outputs.subject }}  

    steps:
     - name: first step of 2nd job
       id: dep
       run: |
         echo "subject=Maths" >> $GITHUB_OUTPUT       #output of a step
         echo "Jo  goodname input se aya uski value h ${{ inputs.goodname }}"
         echo "2nd secret ki value h ${{ secrets.scndsecret }}"     #jb secret inherit kre to no need to define the secret upr, just use it like this
         echo "1st secret ki value h ${{ secrets.pehlasecretforreusableworkflow }}" 
        # echo "secret ki value h ${{ secrets.firstsecret }}"       #jb individually secret pass kre to aise upr defined secret ko use krosecret ho to
  
  forcontainer:
    runs-on: ubuntu-latest
    container:       #Note ye container we can define at job level only and not at step level.
      image: node:18   #isme say mere vo dependency/version h jo mujhe chaiye jo VM me available ni h
      #credentials:     #agr private registry se utha rhe h image
        #username: <username>
        #password: <password>
        #Note: agr reusable workflow use kr rhe h toh "container" section hm reusable workflow me likhenge,caller workflow me ni likhenge.
        #Note: agr composite action use kr rhe h toh "container" section hm caller workflow me likhenge, composite action wali file me ni likhenge.
        
    steps:
      - name: checkout      #checkout krna hota h container k andr bhi
        uses: actions/checkout@v4
      - name: running command
        run: node -v
  
         
       

       
